# **Time Series**

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/dhamvi01/Univariate-Time-Series-using-LSTM/master/airline-passengers.csv'
data = pd.read_csv(url)
data

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [ ]:
passengers = data['Passengers'].values
passengers

array([112, 118, 132, 129, 121, 135, 148, 148, 136, 119, 104, 118, 115,
       126, 141, 135, 125, 149, 170, 170, 158, 133, 114, 140, 145, 150,
       178, 163, 172, 178, 199, 199, 184, 162, 146, 166, 171, 180, 193,
       181, 183, 218, 230, 242, 209, 191, 172, 194, 196, 196, 236, 235,
       229, 243, 264, 272, 237, 211, 180, 201, 204, 188, 235, 227, 234,
       264, 302, 293, 259, 229, 203, 229, 242, 233, 267, 269, 270, 315,
       364, 347, 312, 274, 237, 278, 284, 277, 317, 313, 318, 374, 413,
       405, 355, 306, 271, 306, 315, 301, 356, 348, 355, 422, 465, 467,
       404, 347, 305, 336, 340, 318, 362, 348, 363, 435, 491, 505, 404,
       359, 310, 337, 360, 342, 406, 396, 420, 472, 548, 559, 463, 407,
       362, 405, 417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390,
       432])

In [ ]:
# transform univariate time series to supervised learning problem
from numpy import array
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

# define univariate time series
series = array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# transform to a supervised learning problem
X, y = split_sequence(passengers, 2)
print(X.shape, y.shape)
dfX = pd.DataFrame(X, columns=["Xt-2", "Xt-1"])
dfy = pd.DataFrame(y, columns=["Xt"])

df = pd.concat((dfX, dfy), axis = 1)
df

(142, 2) (142,)

     Xt-2  Xt-1   Xt
0     112   118  132
1     118   132  129
2     132   129  121
3     129   121  135
4     121   135  148
..    ...   ...  ...
137   535   622  606
138   622   606  508
139   606   508  461
140   508   461  390
141   461   390  432

[142 rows x 3 columns]

In [ ]:
dataX = df.drop(columns=['Xt'])
dataX

     Xt-2  Xt-1
0     112   118
1     118   132
2     132   129
3     129   121
4     121   135
..    ...   ...
137   535   622
138   622   606
139   606   508
140   508   461
141   461   390

[142 rows x 2 columns]

In [ ]:
dataY = df['Xt'].values
dataY

array([132, 129, 121, 135, 148, 148, 136, 119, 104, 118, 115, 126, 141,
       135, 125, 149, 170, 170, 158, 133, 114, 140, 145, 150, 178, 163,
       172, 178, 199, 199, 184, 162, 146, 166, 171, 180, 193, 181, 183,
       218, 230, 242, 209, 191, 172, 194, 196, 196, 236, 235, 229, 243,
       264, 272, 237, 211, 180, 201, 204, 188, 235, 227, 234, 264, 302,
       293, 259, 229, 203, 229, 242, 233, 267, 269, 270, 315, 364, 347,
       312, 274, 237, 278, 284, 277, 317, 313, 318, 374, 413, 405, 355,
       306, 271, 306, 315, 301, 356, 348, 355, 422, 465, 467, 404, 347,
       305, 336, 340, 318, 362, 348, 363, 435, 491, 505, 404, 359, 310,
       337, 360, 342, 406, 396, 420, 472, 548, 559, 463, 407, 362, 405,
       417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390, 432])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import joblib

scaler = MinMaxScaler()
#scaler.fit(features)
#scaler.transform(features)
scaled = scaler.fit_transform(dataX)
features_names = dataX.columns.copy()
#features_names.remove('label')
scaled_features = pd.DataFrame(scaled, columns=features_names)
scaled_features

         Xt-2      Xt-1
0    0.015444  0.027027
1    0.027027  0.054054
2    0.054054  0.048263
3    0.048263  0.032819
4    0.032819  0.059846
..        ...       ...
137  0.832046  1.000000
138  1.000000  0.969112
139  0.969112  0.779923
140  0.779923  0.689189
141  0.689189  0.552124

[142 rows x 2 columns]